body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.level {
    width: 200px;
}

.bar-container {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}

.bar {
    height: 100%;
    width: 0%;
    background-color: blue;
}

.status p {
    font-size: 18px;
    font-weight: bold;
}

#fan-status {
    color: red;
}

#pump-status {
    color: red;
}

.config{
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: aquamarine;
}

.param{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

button{
    padding: 1em;
    margin-bottom: 1em;
}
